input {
  width: 100%;
  border: 0px;
  background-color: transparent;
}

input:focus {
  /* CSS properties to apply when the input is focused */
  border: 0px;
  outline: none; /* Removes the default browser outline */
  caret-color: white;
  color: white;
}

input::placeholder {
  color: white; /* Sets the placeholder color to red */
}

mat-form-field {
  background-color: rgba(133, 133, 133, 0.7);
  border-radius: 20px;
  width: 100%;
}
